@import "tailwindcss";

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme {
  --color-tma-blue-100: #6174a8;
  --color-tma-blue-200: #00227a;
  --color-tma-light-100: #ffffff;
  --color-tma-light-200: #f3f3f3;
  --color-tma-light-300: #ededed;
  --color-tma-light-400: #e3e6f4;
  --color-tma-light-500: #ababab;
  --color-tma-light-600: #65676d;
  --color-tma-light-700: #000000;
  --color-tma-danger: #dc3545;
  --color-tma-danger-darker: #a71d2a;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #65676d;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
  font-family: "Nunito", sans-serif;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
